#soroy_product_list{
    ul.products {
        li.product {
            .product-details{
                padding: 0;
                margin: 0;
                .product-action-wrap{
                    display: none;
                }
                .price{
                    display: none;
                }
                h2.woocommerce-loop-product__title{
                    padding: 5px 10px;
                }
            }
        }
    }
}