form.cart p {
  margin: 10px 0 !important;
}

form.cart input {
  width: 100%;
}

form.cart .woocommerce button.button.alt {
  background-color: #7557F0 !important;
}

.variations select#quantity {
  display: none;
}

.variations .v_item_box p {
  margin: 10px 0 !important;
}

.variations .v_item_box .variation_select {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.variations .v_item_box .variation_select .item {
  border: 2px solid #7557F0;
  border-radius: 2px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  width: 80px;
  height: 56px;
}

.variations .v_item_box .variation_select .item.select {
  color: #fff;
  background-color: #7557F0;
}

.quantity {
  display: none !important;
}

.woocommerce-variation-add-to-cart {
  display: flex;
  flex-direction: column;
}

.woocommerce-variation-add-to-cart button.single_add_to_cart_button {
  margin-top: 20px !important;
  margin-left: 0 !important;
}

.single_variation_wrap .woocommerce-variation.single_variation {
  display: block !important;
}

.single_variation_wrap > .product_option_desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.single_variation_wrap > .product_option_desc > div {
  border-radius: 5px;
  background-color: #eee;
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.single_variation_wrap > .product_option_desc .woocommerce-variation.single_variation {
  margin-top: -10px;
  display: inline-block;
  font-size: 24px;
  color: green;
  margin-left: 10px;
}

.single_variation_wrap > .product_option_desc .woocommerce-variation.single_variation del {
  font-size: 16px;
}

#soroy_product_list ul.products li.product .product-details {
  padding: 0;
  margin: 0;
}

#soroy_product_list ul.products li.product .product-details .product-action-wrap {
  display: none;
}

#soroy_product_list ul.products li.product .product-details .price {
  display: none;
}

#soroy_product_list ul.products li.product .product-details h2.woocommerce-loop-product__title {
  padding: 5px 10px;
}
