
/* 产品分类 */ 
.shop_by_cate{
    ul > li.product-category{
        a{
            display: grid !important;
            img{
                aspect-ratio: 16 / 9;
                margin: 0 !important;
                object-fit: cover;
            }
            .woocommerce-loop-category__title{
                position: unset !important;
                mark.count{
                    display: none !important;
                }
            }
        }
    }
}

/* 产品列表 */ 
.products_list{
    ul.products {
        li.product  {
            .astra-shop-thumbnail-wrap{
                margin-bottom: 0 !important;
                .woocommerce-LoopProduct-link{
                    img{
                        aspect-ratio: 2 / 3;
                        object-fit: cover;
                    }
                }
            }
            .astra-shop-summary-wrap{
                padding: 10px !important;
                background-color: #fff;
                a{
                    display: grid !important;
                    h2{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
    } 
}

/*页脚菜单*/
.foot_menu{
    li.hfe-creative-menu{
        display: grid;
        grid-template-columns: 20px 1fr;
        align-items: center;
        &::before{
            content: "\f00c";
            color: #fff;
            font-family: "Font Awesome 5 Free";
            font-size: 12px;         
        }
    }

}