@media (max-width: 768px) {
  #main-footer .container {
    width: 100%;
    padding: 10px;
  }
  #main-footer .container #footer-widgets {
    padding: 0 !important;
  }
  #main-footer .container #footer-widgets .footer-widget:last-child {
    padding-left: 0;
    border: none;
  }
  #main-footer .container #footer-widgets .footer-widget:last-child #block-11, #main-footer .container #footer-widgets .footer-widget:last-child #block-12 {
    min-width: unset;
  }
  #main-footer .container #footer-widgets .footer-widget:last-child #rainmaker_form_238 form {
    display: grid;
    grid-template-columns: "1fr";
    gap: 20px;
  }
  #main-footer .container #footer-widgets .footer-widget:last-child #rainmaker_form_238 form .rm_form_el_set:not(:last-child) {
    width: 100% !important;
  }
}
