.elementor-shortcode{
    .pets{
        & * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        } 
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
        .dog.cat{
            border-color: transparent;
            border-width: 0;
            display: flex;
            flex-direction: column;
            background-color: #f8f8f8;
            box-shadow: inset 0 0 5px #d8d8d8;
            border-radius: 5px;
            overflow: hidden;;
            .name{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                background-color: #fff;
            }
            .images{
                padding: 0;
                margin: 0;
                img{
                    aspect-ratio: 4 / 3;
                    width: 100%;
                    object-fit: cover;
                }
                ul.pet-options{
                    padding: 10px;
                    li.icon-options{
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        img{
                            max-width: 50px;
                            object-fit: contain;
                        }
                    }
                }
            }
            .description{
                padding: 10px;
                color: #8e8e8e;
            }
            .features{
                color: #222;
                padding: 10px 10px 20px;
            }

        }
        .petfinder-thumbnails{
            display: none;
        }

        div[style="clear: both; "] {
            display: contents;
        }

    }
}